.vscode
PigTrackingDataset2020
PigTrackingDataset2019
/.idea/
/model/detection_model/object_detection/
/model/detection_model/checkpoint/
/model/detection_model/saved_model/
/data/cropped_animals/
/model/siamese/weights/*.h5
.ipynb_checkpoints
__pycache__
logs
data/tracking
data/aug_data
data/**/*.png
data/**/*.jpg
data/**/*.jpeg
crop_images
meta.tsv
vecs.tsv
/experiments/**/*
**/*.h5